<html>
<head></head>
<body>
<b>Witamy </b><br/>
<br/>
Twój adres  email został zarejestrowany w  newslettrze  <br/>
<br/>
Aby potwierdzić rejestracje wejdź na stronę <br/>
<a href="{{url}}newsletter-confirm/{{id}}/{{kod}}.html">{{url}}newsletter-confirm/{{id}}/{{kod}}.html</a><br/>
<br/>
<br/>
Jeśli nie potwierdzisz (nie wejdziesz na podany link) konto nie zostanie aktywowane, a twój adres e-mail zostanie usunięty z bazy . <br/>


<br/><br/><br/>
--<br/>
Wiadomość wysłana automatycznie. Prosimy na nią nie odpowiadać.<br/> 

</body>
</html>

