
<pre>
{{tresc}}
</pre>



<br><br><br>
--<br>
{% trans %}Wiadomość wysłana automatycznie. Prosimy na nią nie odpowiadać.{% endtrans %}<br/>
{% trans %}Wiadomość tą otrzymujesz, ponieważ jesteś zarejstrony na stronie{% endtrans %} <a href="{{url}}">{{url}}</a> .<br><br>

{% trans %}Jeśli nie chesz otrzymywać więcej wiadomości z newslettera, kliknij{% endtrans %} <a href="{{url}}newsletter-revoke/{{id}}/{{kod}}.html"><b>{% trans %}tutaj{% endtrans %}</b></a> {% trans %}aby się wypisać z newslettera.{% endtrans %}<br/> 
